<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171932566246-3trc0bkm31g4qns9btcn5epinspb5jae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171932566246-3trc0bkm31g4qns9btcn5epinspb5jae</string>
	<key>API_KEY</key>
	<string>AIzaSyDXSmmA_MPVhOpyJssbsW_GPcqesUeX4Us</string>
	<key>GCM_SENDER_ID</key>
	<string>171932566246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joshcolley.com.BunFight</string>
	<key>PROJECT_ID</key>
	<string>bunfight-89c91</string>
	<key>STORAGE_BUCKET</key>
	<string>bunfight-89c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171932566246:ios:6555caf9308fb81261f127</string>
	<key>DATABASE_URL</key>
	<string>https://bunfight-89c91.firebaseio.com</string>
</dict>
</plist>